
@font-face {
    font-family:"RakeslyLt-Regular";
    src:url("Rakesly-Light.woff2") format("woff2"),url("Rakesly-Light.woff") format("woff"),url("Rakesly-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        