
@font-face {
    font-family:"RakeslyRg-BoldItalic";
    src:url("Rakesly-BoldItalic.woff2") format("woff2"),url("Rakesly-BoldItalic.woff") format("woff"),url("Rakesly-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        