
@font-face {
    font-family:"RakeslyLt-Italic";
    src:url("Rakesly-LightItalic.woff2") format("woff2"),url("Rakesly-LightItalic.woff") format("woff"),url("Rakesly-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        