
@font-face {
    font-family:"RakeslyRg-Regular";
    src:url("Rakesly-Regular.woff2") format("woff2"),url("Rakesly-Regular.woff") format("woff"),url("Rakesly-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        