
@font-face {
    font-family:"Mermaid Swash Caps Bold";
    src:url("MermaidSwashCaps.woff2") format("woff2"),url("MermaidSwashCaps.woff") format("woff"),url("MermaidSwashCaps.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        