
@font-face {
    font-family:"RakeslyRg-Italic";
    src:url("Rakesly-RegularItalic.woff2") format("woff2"),url("Rakesly-RegularItalic.woff") format("woff"),url("Rakesly-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        